@tailwind base;
@tailwind components;
@tailwind utilities;

.sigCanvas {
  background-color: rgb(239, 239, 239);
  width: 100%;
}

.bg-grid {
  background-color: #f4f4f3;
  font-family: "Times New Roman", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
